@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap');

:root {
    /* font-size:16px; */
    --overlay-color: #03a9f4;
    --background-color: black;
    --font-color: #fff;
    --menu-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: var(--font-color);
}

.showcase.active {
    right: var(--menu-width);
    width: calc(100% - var(--menu-width));
}

.showcase header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    width: 60px;
    height: 60px;
    background: url('src/menu.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
}

.showcase,
.toggle {
    transition: 0.5s;
}

.toggle.active {
    background-image: url('src/close.svg');
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    mix-blend-mode: overlay;
    z-index: -1;
}

/* .text{
    position: absolute;
    background-color: black;
    z-index: -1;
} */

.text h1 {
    /* position: absolute; */
    font-size: 5rem;
    font-weight: 800;
    line-height: 1em;
    /* z-index: -2; */
}

.text h2 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1em;
}

.text p {
    font-size: 1.1rem;
    margin: 20px 0;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1rem;
    background-color: var(--font-color);
    padding: 10px 30px;
    text-transform: uppercase;
    color: var(--background-color);
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    display: flex;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
}

.social li a:not(last-child) {
    margin-right: 20px;
    transition: 0.5s;
}

.social li a:hover {
    transform: translateY(-10px);
}

.menu {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--menu-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
}

.menu li a {
    color: var(--overlay-color);
    text-decoration: none;
    font-size: 24px;
}

@media screen and (max-width:798px) {
    .showcase {
        padding: 40px;
    }

    .text h1 {
        font-size: 3rem;
    }

    .text h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:300px) {
    .showcase {
        padding: 20px;
    }

    .text h1 {
        font-size: 2rem;
    }

    .text h2 {
        font-size: 1rem;
    }
}