section.showcase>header>.logo{
    text-transform: uppercase;
}

section.showcase>.text>h1{
    text-transform: uppercase;
}
section.showcase>.text>h2{
    text-transform: uppercase;
}

section.showcase>header>.toggle{
    width:60px;
    height:60px;
    background: url('src/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
}