.red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.green {
    position: absolute;
    background-color: green;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 30px;
    /* z-index: 3; */
}

.blue {
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 30px;
    z-index: 2;
}

.yellow {
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 90px;
    z-index: 2;
}