div {
    color: rgb(255, 132, 0)
}

#div1 {
    color: rgb(0, 157, 255)
}

#div2 {
    color: blueviolet
}

#ul {
    color: cornflowerblue;
}

#ol {
    color: darkgray
}

.large-font {
    font-size: 3rem
}

.deep-background {
    background-color: black;

    font-size: size 4rem;
}

.version {
    background-color: darkseagreen;
    color: bisque;
    padding: 2px 10px;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}

.mytable_class {
    background-color: rgb(237, 170, 16);
}

.img {
    width: 30%;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    background-color: rgb(222, 219, 214);
    padding: 20px;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(212, 204, 192);
}

input[type=submit]{
    width:100%;
    background-color:rgb(16, 208, 55);
    color:beige;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius:5px;
    cursor:pointer;
}